@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
}
#main {
  height: 100%;
}

.top {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 50px;
  background-color: black;
  color: white;
}
.top img {
  width: 30px;
  padding: 0 8px;
}

.container {
  height: 60vh;
  background-color: black;
  color: white;
  margin: 10px 0 10px 2rem;
  font-family: "Varela Round", sans-serif;
  display: flex;
  width: 80%;
  border-radius: 12px;
  padding: 12px;
  background-image: url("bg.jpg");
  background-position: center;
}

.songItem {
  height: 45px;
  display: flex;
  background-color: white;
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
}
.songItemContainer {
  margin-top: 10px;
}

.songItem img {
  width: 45px;
  border-radius: 34px;
}
.songName {
  margin: 0.7rem 0 0 -1.4rem;
}
.bottom {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.icons {
  margin-top: 25px;
}
.icons i {
  cursor: pointer;
}

#myProgressBar {
  width: 80vw;
  cursor: pointer;
}
.timestamp i {
  cursor: pointer;
}

.songInfo {
  position: absolute;
  left: 10vw;
  font-family: "Varela Round", sans-serif;
}

.songInfo img {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
@media (min-width: 768px) {
  body {
    background-color: lightgreen;
  }
  .top {
    height: 9vh;
    padding-left: 10rem;
  }
  .top img {
    width: 6%;
  }
  .heading {
    margin-left: 2rem;
  }
  .container {
    height: 70vh;
    margin-top: 1rem;
    width: 70vw;
    padding-left: 4rem;
  }
  .songItem {
    width: 40rem;
    height: 3.2rem;
    margin-top: 0.3rem;
  }
  .songItem img {
    width: 9%;
    height: 8vh;
    margin-left: 0;
  }
  .songName {
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-top: 1rem;
  }
  .timestamp {
    font-size: 1.5rem;
  }
  .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8%;
    padding: 1rem 0 0.5rem 0;
  }
  .icons {
    margin-top: 0;
    font-size: 1.5rem;
  }
  .songInfo {
    font-size: 1.8rem;
    margin-top: 0;
  }
  #myProgressBar {
    margin-top: 0.5rem;
  }
  #gif {
    width: 10%;
    margin-top: 2rem;
  }
}